/* .container-cards {
	display: flex;
	justify-content: space-between;
	gap: 20px;
} */

.container-capsule {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 10px 5px rgb(0, 0, 0);
	overflow: hidden;
	transition: transform 0.2s ease;
	position: relative;
	height: 570px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container-capsule:hover {
	transform: translateY(-3px);
}

.container-image img {
	width: 100%;
	height: 350px;
}

.container-capsule-body {
	display: flex;
	flex-direction: column;
	padding: 16px 16px 16px 16px;
}

.container-capsule-body h5 {
	color: #000000;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.capsule-title:hover {
	color: var(--dusty-taupe);
}

.capsule-description {
	color: #5c5c5c;
	font-size: 0.95rem;
	margin-bottom: 10px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	/* numero di righe */
	overflow: hidden;
	text-overflow: ellipsis;
}

.capsule-footer {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.capsule-price {
	font-size: 1.7em;
}

.original-price {
	font-weight: bold;
	color: #909090;
	font-size: 1.1rem;
	text-decoration: line-through;
	display: flex;
	flex-direction: column;
}

.discounted-price {
	font-size: 2rem;
	color: red;
	font-weight: bold;
	margin-right: 10px;
}

.normal-price {
	color: black;
	font-weight: bold;
}

.capsule-buttons {
	display: flex;
	/* gap: 8px; */
}

.capsule-button {
	color: white;
	background-color: var(--mauve-bark);
	padding: 8px 14px;
	border-radius: 6px 0px 0px 6px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	font-size: 14px;
}

.capsule-button:hover {
	background: var(--dusty-taupe);
}

.wishlist-btn {
	background-color: var(--dusty-taupe);
	position: absolute;
	top: 15px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wishlist-btn:hover {
	background-color: var(--mauve-bark);
}

.add-to-cart-btn {
	background-color: #28a745;
}

.add-to-cart-btn:hover {
	background-color: #218838;
}

.add-to-cart-btn:disabled {
	background-color: #6c757d;
	cursor: not-allowed;
	opacity: 0.6;
}