/* .container-cards {
	display: flex;
	justify-content: space-between;
	gap: 20px;
} */

.container-capsule {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 10px 5px rgb(0, 0, 0);
	overflow: hidden;
	transition: transform 0.2s ease;
	position: relative;
}

.container-capsule:hover {
	transform: translateY(-3px);
}

.container-image img {
	width: 100%;
	height: 350px;
}

.container-capsule-body {
	padding: 16px;
}

.container-capsule-body h5 {
	color: #000000;
	font-size: 1.3rem;
	font-weight: bold;
}

.capsule-title:hover {
	color: var(--dusty-taupe);
}

.capsule-description {
	color: #5c5c5c;
	font-size: 1rem;
	margin-bottom: 10px;
}

.capsule-footer {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.capsule-price {
	font-size: 1.7rem;
	font-weight: bold;
	color: #000000;
}

.capsule-buttons {
	display: flex;
	gap: 8px;
}

.capsule-button {
	color: white;
	background-color: var(--mauve-bark);
	padding: 8px 14px;
	border-radius: 6px 0px 0px 6px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	font-size: 14px;
}

.capsule-button:hover {
	background: var(--dusty-taupe);
}

.wishlist-btn {
	background-color: #ff4444;
	position: absolute;
	top: 15px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wishlist-btn:hover {
	background-color: #cc3333;
}

.add-to-cart-btn {
	background-color: #28a745;
}

.add-to-cart-btn:hover {
	background-color: #218838;
}

.add-to-cart-btn:disabled {
	background-color: #6c757d;
	cursor: not-allowed;
	opacity: 0.6;
}
