.container-cards {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.container-capsule {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 10px 5px rgb(0, 0, 0);
	overflow: hidden;
	transition: transform 0.2s ease;
}

.container-capsule:hover {
	transform: translateY(-3px);
}

.container-image img {
	width: 100%;
	height: 350px;
}

.container-capsule-body {
	padding: 16px;
	text-align: center;
}

.container-capsule-body h5 {
	color: #2c3e50;
}

.capsule-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.capsule-description {
	color: #6c757d;
}

.capsule-footer {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.capsule-price {
	font-size: 20px;
	font-weight: bold;
	color: #2c3e50;
}

.capsule-button {
	color: white;
	background-color: var(--mauve-bark);
	padding: 8px 14px;
	border-radius: 6px;
	text-decoration: none;
}

.capsule-button:hover {
	background: var(--dusty-taupe);
}
