.hero {
	background-image: url(src/assets/img/hero-capsule.jpg);
	height: 1000px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-title {
	font-size: 6rem;
	padding-top: 100px;
	text-align: center;
	color: var(--desert-sand);
	text-shadow: 10px 10px 10px #000000;
}

.subtitle {
	text-align: center;
	font-size: 1.8rem;
	padding: 40px;
	color: var(--desert-sand);
	text-shadow: 2px 2px 1px #000000;
}

.hero-buttons {
	text-align: center;
}

.hero-btn {
	margin: 60px 30px;
	padding: 20px 60px;
	font-size: 1rem;
	background-color: var(--mauve-bark);
	border-color: transparent;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.hero-btn:hover {
	background: var(--dusty-taupe);
}

.features {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
}

.feature-item {
	background-color: var(--powder-petal);
	color: #000000;
	text-align: center;
	padding: 30px;
	max-width: 400px;
	border-radius: 10px;
	backdrop-filter: blur(10px);
}

.features-title {
	margin: 10px 0;
	font-size: 1.5rem;
}

.features-content {
	font-size: 1.3rem;
}


.hero-bg-content {
	color: var(--desert-sand);
	text-shadow: 10px 10px 10px #000000;
}