.hero {
    background-image: url(src/assets/img/hero-capsule.jpg);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    font-size: 6rem;
    padding-top: 100px;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 1.8rem;
    padding: 40px;
}

.hero-buttons {
    text-align: center;
}

.hero-btn {
    margin: 60px 30px;
    padding: 20px 60px;
    font-size: 1rem;
    background-color: #2c3e50;
    border-color: transparent;
    color: white;
    cursor: pointer;
}

.hero-btn:hover {
    background: #004c99;
}

.features {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.feature-item {
    background-color: rgba(128, 128, 128, 0.85);
    text-align: center;
    padding: 30px;
    max-width: 400px;
}

.features-title {
    margin: 10px 0;
    font-size: 1.5rem;
}

.features-content {
    font-size: 1.3rem;
}