.container {
	background-color: var(--clay-soil);
	box-shadow: 0 0 10px 1px #000000;
	backdrop-filter: blur(10px);
}

.navbar {
	position: fixed;
	width: 100vw;
	z-index: 1000;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	padding: 20px 0;
}

.navbar-nav {
	display: flex;
	align-items: center;
}

.nav-link {
	padding-right: 20px;
}