.new-arrivals {
	width: 50%;
	margin: 0 auto;
}

.sct-title {
	font-size: 4rem;
	text-align: center;
	margin-top: 40px;
}

.sct-subtitle {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 40px;
}
