/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GENERICS */
ul,
ol {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

body {
	background-color: var(--dark-coffee);
	color: #ffffff;
}

main {
	padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

a,
p,
span,
label,
button,
::placeholder {
	font-family: "Barlow", sans-serif;
}
