/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GENERICS */
ul,
ol {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

body {
	background-color: rgb(234, 216, 216);
	/* color: white; */
}

main {
	padding-top: 78px;
}
